html, body {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	user-select: none;
	font-family: sans-serif;
}

.wrapper {
	visibility: hidden;
}

.user-hand {
	height: 100px;
	width: 100vw;
	transform: translate(-50%, -40%);
	position: absolute;
	left: 50%;
	top: 75%;
}

.user-hand > .user-card {
	height: 100px;
	image-rendering: pixelated;
	transform: translateX(-50%);
	transition: 500ms;
	cursor: pointer;
	position: absolute;
}

.user-hand > .user-card:hover {
	z-index: 2;
	transition: 100ms;
	transform: translateX(-50%) scale(1.2);
}

#draw-card {
	image-rendering: pixelated;
	height: 100px;
	transform: translate(-50%, -50%);
	cursor: pointer;
	position: absolute;
	left: 90%;
	top: 50%;
}

.user-hand-counter {
	border-radius: 25%;
	font-weight: bold;
	padding: 0 3px;
	border: 2px solid black;
	transform: translateY(90%);
	position: absolute;
	right: 5px;
	top: 60%;
}

.Ai-hand {
	height: 100px;
	width: 100vw;
	transform: translate(-50%, -40%);
	position: absolute;
	left: 50%;
	top: 25%;
}

.Ai-hand-counter {
	border-radius: 25%;
	font-weight: bold;
	padding: 0 3px;
	border: 2px solid black;
	transform: translateY(70%);
	position: absolute;
	right: 5px;
	top: 30%;
}

.Ai-hand > .Ai-card {
	height: 100px;
	image-rendering: pixelated;
	transform: translateX(-50%);
	transition: 500ms;
	position: absolute;
}

.modal {
	z-index: 5;
	height: 90vh;
	width: 90vw;
	border: 2px solid black;
	border-radius: 25px;
	background-color: white;
	transform: translate(-50%, -50%);
	position: fixed;
	left: 50%;
	top: 50%;
}

.modal-title {
	margin: 25px 0 0 0;
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
}

.modal-inputs {
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	top: 30%;
}

.modal-inputs > p {
	text-align: right;
	margin: 5px 0;
}

.game-start-btn {
	font-size: 20px;
	transform: translateX(-50%);
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: 85%;
	--length: 0px;
}

.game-start-btn:hover {
	--length: 110px;
}

.game-start-btn::before {
	content: '';
	width: var(--length);
	height: 2px;
	transition: 100ms;
	transform: translateX(-50%);
	background-color: rgba(43, 111, 153, 1);
	position: absolute;
	top: 100%;
	left: 50%;
}

.current-card {
	image-rendering: pixelated;
	height: 100px;
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
}

.QTE {
	z-index: 4;
	padding: 5px;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
	transform: translateY(-50%);
	position: fixed;
	top: 60%;
	left: 30px;
}

.QTE-txt {
	margin: 0 0 5px 0;
	text-align: center;
}

.QTE > .QTE-progress-bar-container {
	margin: 0;
	height: 15px;
	width: 100px;
	overflow: hidden;
	border: 2px solid black;
	border-radius: 5px;
}

.QTE-progress-bar {
	display: block;
	height: 14px;
	width: 0%;
	background-color: rgba(43, 111, 153, 1);
	transform: translateY(5%);
}

.wild-picker-backdrop {
	z-index: 4;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
}

.wild-picker {
	height: 200px;
	width: 200px;
	background-color: white;
	border: 2px solid black;
	border-radius: 15px;
	transform: translate(-50%, -50%);
	position: fixed;
	top: 50%;
	left: 50%;
}

.wild-picker-inputs {
	height: max-content;
	width: max-content;
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
}

.wild-picker-colour {
	margin: 0;
	display: inline-block;
	height: 50px;
	width: 50px;
	transition: 500ms;
	background-color: pink;
	cursor: pointer;
}

.wild-picker-colour:hover {
	transition: 100ms;
	transform: scale(1.2);
}

.wild-picker-colour:nth-child(1) {
	border-radius: 100% 0 0 0;
	background-color: rgb(254, 0, 0);
}

.wild-picker-colour:nth-child(2) {
	border-radius: 0 100% 0 0;
	background-color: rgb(1, 186, 3);
}

.wild-picker-colour:nth-child(4) {
	border-radius: 0 0 0 100%;
	background-color: rgb(3, 90, 226);
}

.wild-picker-colour:nth-child(5) {
	border-radius: 0 0 100% 0;
	background-color: rgb(255, 202, 2);
}

.turn-displayer {
	margin: 0;
	z-index: 3;
	font-weight: bold;
	pointer-events: none;
	transform: translateY(25%);
	transition: 100ms ease-in-out;
	position: absolute;
	top: 65%;
	right: 45px;
}