html, body {
	margin: 0;
	font-family: sans-serif;
	-webkit-user-select: none;
	user-select: none;
}

.wrapper {
	width: 100vw;
	height: 100vh;
}

.machine-img {
	height: 100%;
	width: 100%;
	image-rendering: pixelated;
}

.selections-row {
	width: 100%;
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
}

.selections-row > div {
	display: inline-block;
	height: max-content;
	min-height: 125px;
	min-width: 125px;
	white-space: nowrap;
	transform: translate(-50%, -85%);
	transition: 250ms;
	border-radius: 10%;
	position: absolute;
	cursor: pointer;
}

.selections-row > div > p {
	margin: 0;
	text-align: center;
}

.selections-row > div > img {
	image-rendering: pixelated;
	width: 100px;
	height: 100px;
	transform: translateX(-50%);
	position: relative;
	left: 50%;
}

.selections-row > div:nth-child(1) {
	left: 25%;
}

.selections-row > div:nth-child(2) {
	left: 50%;
}

.selections-row > div:nth-child(3) {
	left: 75%;
}

#machine-btn {
	height: 86px;
	width: 96px;
	cursor: pointer;
	position: absolute;
	top: 80%;
}

.machine-btn-1 {
	transform: translate(1px, 5px);
	left: 37%;
}

.machine-btn-2 {
	transform: translate(6px, 5px);
	left: 55%;
}

.machine-btn-3 {
	transform: translate(-3px, 5px);
	left: 75%;
}

.new-tickets-modal {
	height: 40vh;
	width: 40vw;
	border-radius: 15px;
	border: 2px solid black;
	background-color: white;
	position: relative;
}

.new-tickets-modal > p:nth-child(1) {
	margin: 0;
	text-align: center;
	font-size: 25px;
	text-decoration: underline;
}

.new-tickets-modal > p:nth-child(2) {
	margin: 0;
	font-size: 20px;
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
}

.new-tickets-modal > p:nth-child(2) > img {
	transform: translate(70%, 30%) scale(2);
	image-rendering: pixelated;
}

.new-tickets-modal > p:nth-child(2) > .sub-script {
	font-size: 15px;
}

.new-tickets-modal > .close-btn {
	margin: 0;
	cursor: pointer;
	transform: translate(-50%, -50%);
	position: absolute;
	bottom: 5%;
	right: 0px;
	--width: 0px;
}

.new-tickets-modal > .close-btn::before {
	content: '';
	height: 2px;
	width: var(--width);
	background-color: rgb(43, 111, 153);
	transform: translateX(-50%);
	transition: 150ms;
	position: absolute;
	top: 100%;
	left: 50%;
}

.new-tickets-modal > .close-btn:hover {
	--width: 50px
}