html, body {
	margin:  0;
	font-family: sans-serif;
	user-select: none;
}

.background {
	background-image: url('./img/space_background.png');
	image-rendering: pixelated;
	height: 150vh;
	width: 150vw;
	background-size: 128px;
	animation: background_ANM 5s linear infinite;
	position: absolute;
}

@keyframes background_ANM {
	0% {
		transform: translateX(-128px);
	}
	100% {
		transform: translate(0px);
	}
}

.wrapper {
	position: relative;
	height: 100vh;
	width: 100vw;
}

#player {
	z-index: 3;
	image-rendering: pixelated;
	transform: translate(-50%, -50%) scale(2);
	position: absolute;
}

.fps-counter {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ffffff01;
	position: absolute;
	left: 5px;
	top: 5px;
	font-weight: bolder;
	padding: 2px 5px;
	color: #90ee90;
	background-color: #ffffff30;
}

.asteroid {
	z-index: 1;
	image-rendering: pixelated;
	width: 39px;
	transform: translate(-50%, -50%);
	position: absolute;
}

.bullet {
	z-index: 2;
	transform: translate(-50%, -50%) scale(0.5);
	position: absolute;
	--direction: 0deg;
	animation: bullet_ANM 1s ease-in-out infinite alternate;
}

@keyframes bullet_ANM {
	0% {
		transform: translate(-50%, -50%) rotate(var(--direction)) scale(0.5);
	}
	100% {
		transform: translate(-50%, -50%) rotate(var(--direction)) scale(0.6);
	}
}