html, body {
	margin:  0;
	font-family: sans-serif;
	user-select: none;
}

.background {
	background-image: url('./img/space_background.png');
	image-rendering: pixelated;
	height: 150vh;
	width: 150vw;
	background-size: 128px;
	animation: background_ANM 5s linear infinite;
	position: absolute;
}

@keyframes background_ANM {
	0% {
		transform: translateX(-128px);
	}
	100% {
		transform: translate(0px);
	}
}

.wrapper {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.play-area {
	pointer-events: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

.space-ship {
	z-index: 3;
	image-rendering: pixelated;
	transform: translate(-50%, -50%) scale(2);
	position: relative;
}

.shielded {
	outline-offset: 2px;
	border-radius: 40%;
	animation: shield_ANM 500ms infinite alternate ease-in-out;
}

@keyframes shield_ANM {
	0% {
		outline: 2px solid #008000;
	}
	100% {
		outline: 5px solid #00d300;
	}
}

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	& > * {
		z-index: 5;
	}
}

.fps-counter {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ffffff01;
	font-weight: bolder;
	padding: 2px 5px;
	color: #90ee90;
	background-color: #ffffff30;
	height: max-content;
}

.score-board-container {
	visibility: hidden;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #00000032;
	padding: 2px 5px;
	color: white;
	background-color: #ffffff30;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.asteroid {
	z-index: 1;
	image-rendering: pixelated;
	width: 39px;
	transform: translate(-50%, -50%);
	position: absolute;
}

.bullet {
	z-index: 2;
	transform: translate(-50%, -50%) scale(0.5);
	position: absolute;
	--direction: 0deg;
	animation: bullet_ANM 1s ease-in-out infinite alternate;
}

@keyframes bullet_ANM {
	0% {
		transform: translate(-50%, -50%) rotate(var(--direction)) scale(0.5);
	}
	100% {
		transform: translate(-50%, -50%) rotate(var(--direction)) scale(0.6);
	}
}

.game-start-modal {
	z-index: 5;
	height: 90vh;
	width: 90vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background-color: white;
	border: 5px solid black;
	border-radius: 15px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

.game-start-btn {
	margin-bottom: 25px;
	cursor: pointer;
	position: relative;
	--width: 0px;
}

.game-start-btn:hover {
	--width: 40px;
}

.game-start-btn::before {
	content: "";
	width: var(--width);
	height: 3px;
	transition: 100ms;
	background-color: rgb(32, 90, 127);
	transform: translateX(-50%);
	position: absolute;
	top: 100%;
	left: 50%;
}

.game-over-modal {
	background-color: white;
	border-radius: 15px;
	border: 5px solid black;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

.game-over-txt {
	margin: 0;
	text-transform: capitalize;
	font-size: 20px;
}

.game-over-inputs-container {
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.game-over-inputs-container > div {
	margin: 0 5px;
	cursor: pointer;
	position: relative;
	--width: 0px;
}

.game-over-inputs-container > div:hover {
	--width: var(--max-width);
}

.game-over-inputs-container > div::before {
	content: '';
	width: var(--width);
	height: 3px;
	transition: 100ms;
	background-color: rgb(32, 90, 127);
	transform: translateX(-50%);
	position: absolute;
	top: 110%;
	left: 50%;
}

.game-over-reward-container {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-over-reward-container > * {
	margin: 0;
}

.game-over-reward-container-inner {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.game-over-reward-container-inner > .game-over-tickets-earned {
	margin: 0;
}

.game-over-reward-container-inner > img {
	image-rendering: pixelated;
}

.space-ship-stats {
	visibility: hidden;
	color: white;
	display: flex;
	flex-direction: row;
}

.space-ship-stats > div {
	margin: 0 10px;
}

#space-ship-shields {
	height: 32px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

#space-ship-shields > div:nth-child(1) {
	-webkit-text-stroke-color: #00000032;
	-webkit-text-stroke-width: 1px;
}

#space-ship-shields-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#space-ship-shields-container > img {
	margin: 0 2px;
	height: 24px;
	filter: hue-rotate(140deg) brightness(1.3);
}

#space-ship-bombs {
	height: 32px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

#space-ship-bombs > div:nth-child(1) {
	-webkit-text-stroke-color: #00000032;
	-webkit-text-stroke-width: 1px;
}

#space-ship-bombs-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#space-ship-bombs-container > img {
	margin: 0 2px;
	height: 24px;
	filter: hue-rotate(230deg) brightness(1.3);
}

.bomb-shockwave {
	filter: hue-rotate(230deg) brightness(1.3);
	transform: translate(-50%, -50%) scale(0.25) rotate(0deg);
	position: absolute;
	animation: bomb-shockwave-ANM 500ms linear;
}

@keyframes bomb-shockwave-ANM {
	0% {
		transform: translate(-50%, -50%) scale(0.25) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) scale(8) rotate(2880deg);
	}
}